version: '3'
services:
  database:
    image: postgis/postgis:15-3.4-alpine
    container_name: directus_db
    restart: always
    volumes:
      - ./directus_data/database:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: 'directus'
      POSTGRES_PASSWORD: 'directus_password_CHANGE_ME'
      POSTGRES_DB: 'directus'

  directus:
    image: directus/directus:10.10.4
    container_name: directus_app
    restart: always
    ports:
      - 8055:8055
    volumes:
      - ./directus_data/uploads:/directus/uploads
      - ./directus_data/extensions:/directus/extensions
    depends_on:
      - database
    environment:
      KEY: '255d861b-5ea1-4996-9aa3-9226279ee12d'
      SECRET: '6116487b-cda1-42cf-ad78-b463d778e11c'
      ADMIN_EMAIL: 'admin@example.com'
      ADMIN_PASSWORD: 'admin'
      DB_CLIENT: 'pg'
      DB_HOST: 'database'
      DB_PORT: '5432'
      DB_DATABASE: 'directus'
      DB_USER: 'directus'
      DB_PASSWORD: 'directus_password_CHANGE_ME'
      WEBSOCKETS_ENABLED: 'true'
      PUBLIC_URL: 'http://localhost:8055' # 部署后改为你的域名
