services:
  web:
    container_name: shenleng-container
    # 阿里云容器镜像服务 (ACR) - 个人版实例
    image: crpi-magb6k3sv0c9s8ci.cn-shanghai.personal.cr.aliyuncs.com/sl-2026/slgw:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./persistence/sqlite:/app/database
      - ./persistence/media:/app/public/media
    environment:
      - NODE_ENV=production
      - PAYLOAD_SECRET=${PAYLOAD_SECRET}
      - DATABASE_URI=file:/app/database/payload.db
      - PORT=3000
