services:
  web:
    container_name: shenleng-container
    image: ghcr.io/sarsimour/shenleng:latest
    restart: unless-stopped
    user: "1000:1000"
    ports:
      - "3000:3000"
    volumes:
      # 数据库持久化
      - ~/data/shenleng/persistence/sqlite:/app/database
      # 媒体文件持久化
      - ~/data/shenleng/persistence/media:/app/public/media
      # 原始数据源 (只读)
      - ~/data/shenleng/migration_source:/app/migration_data:ro
    environment:
      - NODE_ENV=production
      - PAYLOAD_SECRET=${PAYLOAD_SECRET}
      - DATABASE_URI=file:/app/database/payload.db
      - PAYLOAD_CONFIG_PATH=src/payload.config.ts
      - PORT=3000
      - MIGRATION_DATA_DIR=/app/migration_data